.vivi {
    max-width: 1080px; 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

h2 {
    color: #411A5E;
    max-width: 520px;
    font-size: 62px;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;  
}

