.card  {
    width: 240px;
    height: 266px;
    border-radius: 40px;
    border: solid 1px #C5CFD4;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.card-green {
    background-color: #FFFFFF;
  }

  .card-html{
    background-color: #FFFFFF;
  }
  .card-css{
    background-color:#FFFFFF;
  }
 
  .card-javas{
    background-color: #FFFFFF;
    
  }
  .card-react{
    background-color:#FFFFFF;
    
  }
  .card-aws{
    background-color: #FFFFFF;
    
  }
  .card-node{
    background-color:#FFFFFF;
    
  }
  .card-angular{
    background-color:#FFFFFF;
    
  }
  .card-type{
    background-color:#FFFFFF;
    
  }
  .card-figma{
    background-color:#FFFFFF;
    
  }
  .card-figma{
    background-color:#FFFFFF; 
  }

  .title-language {
    font-family: 'P22 Mackinac Pro';
    color: #4F6B82;
    font-size: 20px;
    font-weight: 700;
    text-align: center;

  }


  @media (max-width: 800px) {

    .card {
        width: 46%;
        height: 190px;
    }

     .card-green {
      width: 100%;
    }

    .img-icone {
      max-width: 64px;
      max-height: 64px;
    }
    
}