nav {
    display: flex;
    justify-content: space-around;
    letter-spacing: 1px;
    margin-top: 40px;
}

li {
    list-style: none;
}

.nav-link {
    font-family: 'P22Mackinac';
    font-size: 16px;
    color: #4F6B82;
    text-decoration: none;
    list-style: none;
    /* margin: 40px; */
    font-weight: 700;
}

